<header class="site-header">
  <div class="logo">
    SD Cloud Hub
  </div>

  <nav class="nav-links">

    <a
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </a>

    <a
      routerLink="/about"
      routerLinkActive="active-link"
    >
      About
    </a>

    <a
      routerLink="/services"
      routerLinkActive="active-link"
    >
      Services
    </a>

    <a
      routerLink="/projects"
      routerLinkActive="active-link"
    >
      Projects
    </a>

    <a
      routerLink="/training"
      routerLinkActive="active-link"
    >
      Training
    </a>

    <a
      routerLink="/blog"
      routerLinkActive="active-link"
    >
      Blog
    </a>

    <a
      routerLink="/contact"
      routerLinkActive="active-link"
    >
      Contact
    </a>

  </nav>
</header>