<header class="site-header">
  <div class="logo">
    <a routerLink="/">SD Cloud Hub</a>
  </div>

  <nav class="nav-links">

    <a
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }">
      Home
    </a>

    <a
      routerLink="/products"
      routerLinkActive="active-link">
      Products
    </a>

    <a
      routerLink="/services"
      routerLinkActive="active-link">
      Services
    </a>

    <a
      routerLink="/training"
      routerLinkActive="active-link">
      Training
    </a>

    <a
      routerLink="/contact"
      routerLinkActive="active-link">
      Contact
    </a>

  </nav>
</header>